* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-size: 100%;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

@media screen and (max-width: 600px) {
  body {
    background-color: #002633;
  }

  .navbar {
    display: flex;
    gap: 10px;
  }

  .navbar a {
    font-size: 12px;
    margin-left: 10px;
  }

  .profile-content {
    width: 100%;
  }

  .profile-content h1 {
    font-size: 36px;
  }

  .profile-content h3 {
    font-size: 25px;
  }

  .profile-content p {
    font-size: 12px;
  }

  .profile-content .btn-box {
    gap: 10px;
    width: 245px;
    height: 40px;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  body {
    background-color: #002633;
  }

  .navbar {
    display: flex;
    gap: 10px;
  }

  .navbar a {
    font-size: 20px;
    margin-left: 10px;
  }

  .profile-content {
    width: 100%;
  }

  .profile-content h1 {
    font-size: 46px;
  }

  .profile-content h3 {
    font-size: 28px;
  }

  .profile-content p {
    font-size: 15px;
  }

  .profile-content .btn-box {
    gap: 10px;
    width: 245px;
    height: 40px;
  }
}

@media screen and (min-width: 993px) {
  body {
    background-color: #002633;
    background-image: url(josvian-bg.jpg);
    background-repeat: no-repeat;
  }

  .navbar {
    display: flex;
    gap: 10px;
  }

  .navbar a {
    font-size: 20px;
    margin-left: 30px;
  }

  .profile-content {
    width: 50%;
  }

  .profile-content h1 {
    font-size: 56px;
  }

  .profile-content h3 {
    font-size: 32px;
  }

  .profile-content p {
    font-size: 16px;
  }

  .profile-content .btn-box {
    gap: 10px;
    width: 345px;
    height: 50px;
  }
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s;
}

.navbar a:hover,
.navbar a.active {
  color: #13e2b2;
}

.logo {
  font-size: 30px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.profile {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0px 10%;
}

.profile-content {
  background: transparent;
}

.profile-divider {
  margin-bottom: 30px;
}

.profile-content h1 {
  position: relative;
  font-weight: 700;
}

.profile-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #002633;
  animation: revealRight 1.5s ease forwards;
  animation-delay: 0.4s;
}

.profile-content h3 {
  font-weight: 700;
  color: #13e2b2;
}

.profile-content p {
  margin: 20px 0 40px;
}

.profile-content .btn-box {
  display: flex;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  border: 2px solid #13e2b2;
  border-radius: 8px;
  font-size: 19px;
  background: #13e2b2;
  color: #002633;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #13e2b2;
}

.btn-box a:nth-child(2)::before {
  background: #13e2b2;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #002633;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #13e2b2;
}

.btn-box a:active {
  opacity: 30%;
}

.btn-box a:nth-child(2):hover {
  color: #002633;
}

.btn-box a:hover::before {
  color: #002633;
  width: 100%;
}

.home-icons {
  position: relative;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-icons a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #13e2b2;
  border-radius: 50%;
  font-size: 20px;
  color: #13e2b2;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-icons a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #13e2b2;
  z-index: -1;
  transition: 0.5s;
}

.home-icons a:hover {
  color: #002633;
}

.home-icons a:active {
  opacity: 30%;
}

.home-icons a:hover::before {
  height: 100%;
}

.self-portrait {
  display: flex;
  justify-content: center;
  width: 800px;
}

.self-portrait img {
  position: static;
  /* width: 55%; */
  opacity: 100%;
  border: 10 px solid #13e2b2;
  border-radius: 15px;
  box-shadow: 0 0 30px #13e2b2;
}

.self-portrait img::before {
  content: "";
  background: #002633;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: revealFade 1s ease forwards;
  animation-delay: 0.4s;
}

@keyframes revealRight {
  100% {
    width: 0;
  }
}

@keyframes revealFade {
  100% {
    width: 0;
  }
}

.experience {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10%;
}

.experience-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.experience h1 {
  font-size: 56px;
}

.exp-divider {
  margin-bottom: 30px;
}

.content {
  padding: 30px;
  border-radius: 30px;
  background-color: #13e2b2;
  text-align: center;
}

.content h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10%;
}

.contact h1 {
  font-size: 56px;
}

.contact h3 {
  font-size: 26px;
}

.contact-divider {
  margin-bottom: 30px;
}

.footer {
  width: 50%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
}
